@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900|Playfair+Display:700&display=swap&subset=latin-ext");
//Hamburger
$hamburger-padding-x: 15px;
$hamburger-padding-y: 15px;
$hamburger-layer-width: 30px;
$hamburger-layer-height: 3px;
$hamburger-layer-spacing: 4px;
$hamburger-layer-color: #000;
$hamburger-layer-border-radius: 6px;
$hamburger-hover-opacity: 1;
$hamburger-active-layer-color: #ff3f74;
$hamburger-active-hover-opacity: $hamburger-hover-opacity;
@import "../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";
//Bootstrap Imports for Mixings
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/reboot";

//Colors
$alumnica-green: #ccff8d;
$alumnica-gray: #e2e2e2;
$font-size-base: 1rem;
$nav-gray: $gray-600;

.screen-container {
  margin-top: 75px;
  padding-bottom: $font-size-base * 4;
  @include media-breakpoint-up(md) {
    margin-top: 66px;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
}

h1 {
  font-family: "Playfair Display", serif;
  color: #fff;
  font-size: $font-size-base * 2.2;
  letter-spacing: 0;
  line-height: 1.5em;
}

h2 {
  text-transform: uppercase;
  font-weight: 900;
  line-height: 2.5rem;
  font-size: $font-size-base * 1.4;
  letter-spacing: 0.1rem;
}

h3 {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 2em;
  font-size: $font-size-base * 1.2;
}

h4 {
  color: $gray-600;
  font-size: $font-size-base * 1.2;
  font-variant: small-caps;
}

p {
  color: $gray-800;
  line-height: $font-size-base * 1.8;
}

@include media-breakpoint-down(md) {
  .force-fluid-md {
    width: 100%;
    max-width: none;
  }

  .no-padding {
    padding: 0;
  }
}

@include media-breakpoint-down(sm) {
  body {
    font-size: 14pt;
  }

  h2 {
    font-size: $font-size-base * 1.7;
  }
}

@include media-breakpoint-down(xs) {
  body {
    font-size: 14pt;
  }

  h1 {
    font-size: $font-size-base * 1.8;
  }

  h2 {
    font-size: $font-size-base * 1.6;
  }

  h4 {
    font-size: $font-size-base * 1.4;
  }
}

/* HEADER */
.header-brand img {
  height: 40px;
  width: auto;
}

.clickable-card {
  &:hover {
    opacity: 80%;
  }
}

/* ODAs */
h4.nota-materia {
  color: $gray-800;
  font-variant: small-caps;
  font-size: 1rem;
  letter-spacing: 0.15rem;
}

.navbar-brand img {
  height: 40px;
  width: auto;
}

.navbar-bg {
  background-color: #ffffff;
}

.navbar-toggler-icon {
  color: #000000;
}

.navbar-toggler:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline-width: 0;
}
/* NAVLINKS */
.nav-item {
  &:hover {
    cursor: pointer;
  }
  a {
    color: $gray-800;
    font-variant: small-caps;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    margin: 0 0.5rem;
    &:hover {
      color: $nav-gray;
      cursor: pointer;
    }
  }
}

/* ----FOOTER---- */
.social-footer-btn:hover {
  background-color: $nav-gray;
}

.acento-footer {
  height: 0.8rem;
  width: auto;
}

.copy-rigth > a,
.copy-rigth > img,
.copy-rigth > p {
  font-size: 0.8rem;
  color: $nav-gray;
  display: inline-block;
}

.copy-rigth > a,
.copy-rigth > p {
  font-variant: small-caps;
}

.footer-nav {
  padding: 5vh 0 0;
}
@include media-breakpoint-up(md) {
  .footer-nav a {
    font-size: 1.2rem;
    letter-spacing: 0.04rem;
    font-weight: 700;
    margin: 0 0.01rem;
    color: #000;
  }
}

.footer-nav a {
  font-size: 1rem;
  letter-spacing: 0.04rem;
  margin: 0 -0.5rem;
  color: #000;
}

.footer {
  background-color: $alumnica-green;
  min-height: 35vh;
}

p.point8em {
  font-size: 0.65em;
}
